nav ul {
list-style-type:none;
padding-left: 0px;
}
nav ul li {
display: inline-block;
}
nav ul li ul {
margin-left: 50rem;
display: inline-block;
}
nav ul li ul li {
margin-left: 0px;
margin-right: 10px;
}
.dropdown-content {
display: none;
position: absolute;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content a {
color: black;
padding: 5px 0px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.he {
    display: inline-block;
    margin-left: 60%;
}
.dec {
text-decoration: none;
color: grey;
font-size: 1.25rem;
font-family: 'Poiret One', cursive;
}
.dec:hover {
color: black;
}

.an {
color: black;
text-decoration: none;
display: inline-block;
padding-top: 1.6rem;
margin-left: 12.15rem;
font-size: 2rem;
font-family: 'Encode Sans Condensed', "sans-serif";
}
nav ul {
margin-top: 2.5rem;
}
.name {
text-align: center;
font-size: 4rem;
padding-top: 5rem;
font-family: "Arima Madurai";
padding-top: 0px;
}
.sub {
font-family: "Montserrat";
font-size: 2rem;;
}
footer {
background-color: rgb(177, 159, 127);
height: 25rem;
}
.foot1 {
    font-size: 2.5rem;
    font-family: "Calibri";
    padding-left: 4rem;
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 5rem;
}
.foot2 {
    display: inline;
    font-size: 1.5rem;
    font-family: "Calibri";
    margin-left: 15em;
}
.facebook {
    margin-left: 23.75rem;
}
.facebook, .insta, .youtube, .facebook:visited, .insta:visited, .youtube:visited {
    color: black;
}
.insta {
    margin-left: 20.25rem;
}
.youtube {
    margin-left: 23.25rem;
    
}
.coninfo {
    padding-left: 4em;
    line-height: 28px;
    font-family: "roboto";
    margin-bottom: 2rem;
}
section h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3rem;
    padding-top: 5rem;
}
section p {
    font-family: 'Roboto';
    font-size: 2rem;
    text-align: justify;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 7rem;
}
.bg {
    background-image: url("../images/bg.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    text-align: center;
}